<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fzg.mapper.Articlemapper">
    <update id="batchUpdateLikeCount">
        UPDATE article
        SET like_count = CASE id
        <foreach collection="list" item="item">
            WHEN #{item.articleId} THEN #{item.likeCount}
        </foreach>
        END
        WHERE id IN
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item.articleId}
        </foreach>

    </update>
    <update id="upArticleLikeCount">
            update article
            <if test="actionLike == 1">
                <if test="type == 'like'">
                    set like_count = like_count + 1
                </if>
                <if test="type == 'favorite'">
                    set collect_count = collect_count + 1
                </if>
            </if>
            <if test="actionLike == 0">
                <if test="type == 'like'">
                    set like_count = like_count - 1
                </if>
                <if test="type == 'favorite'">
                    set collect_count = collect_count - 1
                </if>
            </if>
            where id = #{articleId}
    </update>
    <update id="updateBatchById">
        update article
        set visibility = '1'
        where user_id in
        <foreach collection="userIds" item="item" separator=",">
            #{item}
        </foreach>
    </update>

    <update id="incrViewCount">
        update article
        set view_count = view_count + 1
        where id = #{articleId}
    </update>
    <update id="decreComCount">
        update article
        set comment_count = comment_count - 1
        where id = #{articleId}
    </update>


    <select id="queryListByArticleType" resultType="com.fzg.vo.ArticleVO">
    select a.id,a.title,a.summary,a.cover_image as coverImage,
           a.type,a.published_at as updatedTime,a.view_count as viewCount,
           a.like_count as likeCount,a.comment_count as commentCount,
           a.share_count as shareCount,a.collect_count as collectCount,
           a.share_count as shareCount,
           a.is_recommend as isRecommend,
           a.is_top as isTop,
           u.id as userId, u.nickname as nickName,
            u.avatar as avatar,
            c.name as categoryName,
    tt.tagsName as tagName,
    -- 计算热度得分（用于热榜排序）
        (
        a.view_count
        + a.like_count * 10
        + a.comment_count * 5
        + a.collect_count * 3
        )
        /
        POW(
        (TIMESTAMPDIFF(HOUR, a.published_at, NOW()) + 2),
        1.5
        ) as hotScore
    from article a
    left join user u on a.user_id = u.id
    left join category c on a.category_id = c.id
    left join (
        select
        atr.article_id,
        GROUP_CONCAT(at.name SEPARATOR ', ') AS tagsName
        from article_tag at
        join article_tag_relation atr on at.id = atr.tag_id
        group by atr.article_id
    ) tt on tt.article_id = a.id

    -- 关注类型接关注表
    <if test='request.type != null and request.type == "2" and request.userId != null'>
      left join follow f on f.following_id = a.user_id and f.follower_id = #{request.userId}
    </if>

    where a.visibility = 0 -- 0:公开
    and a.status = 1 -- 1:已发布
    and a.published_at is not null -- 已发布的文章
    and a.created_at >= DATE_SUB(NOW(), INTERVAL 10 DAY)

    <if test="request.type != null and request.type != ''">
      <if test="request.type =='0' ">
        <!-- 热榜：按综合热度排序 -->
        <!-- 热度计算公式：浏览数*1 + 点赞数*10 + 评论数*5 + 收藏数*3 -->
        order by hotScore desc,
        a.published_at desc
      </if>
      <if test='request.type == "1"'>
        <!-- 推荐：推荐的文章，可以置顶的优先 -->
        and a.is_recommend = 1
        order by a.is_top desc, a.published_at desc
      </if>
      <if test='request.type == "2"'>
        <!-- 关注：只显示关注的人的文章 -->
        and f.id is not null
        order by a.published_at desc
      </if>
      <if test='request.type == "3"'>
        <!-- 最新：按发布时间排序 -->
        order by a.published_at desc
      </if>
    </if>
      limit #{pageSize} offset #{offset}
  </select>
  <select id="queryListCount" resultType="java.lang.Integer">
    select count(*) as total
    from article a
    left join user u on a.user_id = u.id
    left join category c on a.category_id = c.id
    left join (
    select
    atr.article_id,
    GROUP_CONCAT(at.name SEPARATOR ', ') AS tagsName
    from article_tag at
    join article_tag_relation atr on at.id = atr.tag_id
    group by atr.article_id
    ) tt on tt.article_id = a.id

    -- 关注类型接关注表
    <if test='request.type != null and request.type == "2" and request.userId != null'>
      left join follow f on f.following_id = a.user_id and f.follower_id = #{request.userId}
    </if>

    where a.visibility = 0 -- 0:公开
    and a.status = 1 -- 1:已发布
    and a.published_at is not null -- 已发布的文章

    <if test="request.type != null and request.type != ''">
      <if test="request.type =='0' ">
        <!-- 热榜：按综合热度排序 -->
        <!-- 热度计算公式：浏览数*1 + 点赞数*10 + 评论数*5 + 收藏数*3 -->
        order by (a.view_count + a.like_count * 10 + a.comment_count * 5 + a.collect_count * 3) desc,
        a.published_at desc
      </if>
      <if test='request.type == "1"'>
        <!-- 推荐：推荐的文章，可以置顶的优先 -->
        and a.is_recommend = 1
      </if>
      <if test='request.type == "2"'>
        <!-- 关注：只显示关注的人的文章 -->
        and f.id is not null
        order by a.published_at desc
      </if>
    </if>

  </select>
    <select id="searchSuggestions" resultType="java.lang.String">
        <!-- 获取多个推荐词（比如12个，可以播放2分钟） -->
      SELECT keyword FROM (
                            <!-- 热门搜索词（40%） -->
                            (SELECT search_term as keyword, 40 as weight
                            FROM search_hot
                            WHERE search_count > 100
                            ORDER BY RAND() * search_count DESC
                              LIMIT 8)

                            UNION ALL

                            <!-- 热门标签（35%） -->
                            (SELECT name as keyword, 35 as weight
                            FROM article_tag
                            WHERE article_count > 5
                            ORDER BY RAND() * article_count DESC
                              LIMIT 7)

                            UNION ALL

                            <!-- 文章标题（25%） -->
                            (SELECT title as keyword, 25 as weight
                            FROM article
                            WHERE status = '1' AND visibility = '0'
                            ORDER BY RAND()
                              LIMIT 5)
                          ) temp
      ORDER BY RAND() * weight DESC
        LIMIT 20;
    </select>

    <select id="searchByTitle" resultType="com.fzg.vo.ArticleVO">
        select a.id,a.title,a.summary,a.cover_image as coverImage,
               a.type,a.updated_at as updatedTime,a.view_count as viewCount,
               a.like_count as likeCount,a.comment_count as commentCount,
               a.share_count as shareCount,a.collect_count as collectCount,
               u.id as userId,u.avatar,u.nickname as nickName
        from article a
        join user u on a.user_id = u.id
        where (a.title like concat('%',#{keyword},'%')
           or a.summary like concat('%',#{keyword},'%'))
        and a.status = '1'
        and a.visibility = '0'
            order by a.updated_at desc
        limit #{pageSize} offset #{offset}
    </select>

    <select id="searchByTag" resultType="com.fzg.vo.ArticleVO">
        select a.id,a.title,a.summary,a.cover_image as coverImage,
               a.type,a.updated_at as updatedTime,a.view_count as viewCount,
               a.like_count as likeCount,a.comment_count as commentCount,
               a.share_count as shareCount,a.collect_count as collectCount,
               u.id as userId,u.avatar,u.nickname as nickName
            from article a
            join user u on a.user_id = u.id
        join article_tag_relation atr on a.id = atr.article_id
        join article_tag at on atr.tag_id = at.id
        where a.status = '1'
          and a.visibility = '0'
          and at.name like concat('%',#{keyword},'%')
        order by a.updated_at desc
        limit #{pageSize} offset #{offset}
    </select>


    <select id="searchByName" resultType="com.fzg.vo.UserVO">
        select u.id as userId,u.nickname,u.avatar,u.signature,u.location,
               u.topic_count as topicCount,u.comment_count as commentCount,
               u.follower_count as followCount,u.following_count as followingCount,
               u.collection_count as collectionCount
        from user u
        left join follow f on f.follower_id = #{userId}
            and f.following_id = u.id
        where u.nickname like concat('%',#{keyword},'%')
           or u.username like concat('%',#{keyword},'%')
           or u.signature like concat('%',#{keyword},'%')
        limit #{pageSize} offset #{offset}
    </select>
    <select id="queryArticleByUserId" resultType="com.fzg.vo.ArticleVO">
        select a.id,a.title,a.summary,a.cover_image as coverImage,
               a.type,a.published_at as updatedTime,a.view_count as viewCount,
               a.like_count as likeCount,a.comment_count as commentCount,
               a.share_count as shareCount,a.collect_count as collectCount,
               a.updated_at as updatedAt,a.published_at as publishedAt,
               u.id as userId, u.nickname as nickName,
               u.avatar as avatar,
               c.name as categoryName,
               tt.tagsName as tagName,
               -- 计算热度得分（用于热榜排序）
               (a.view_count + a.like_count * 10 + a.comment_count * 5 + a.collect_count * 3) as hotScore
        from article a
                 left join user u on a.user_id = u.id
                 left join category c on a.category_id = c.id
                 left join (
            select
                atr.article_id,
                GROUP_CONCAT(at.name SEPARATOR ', ') AS tagsName
            from article_tag at
        join article_tag_relation atr on at.id = atr.tag_id
            group by atr.article_id
        ) tt on tt.article_id = a.id
        where a.status = '1'
        and a.user_id = #{userId}
        and a.visibility = '0'
        limit #{pageSize} offset #{offset}
    </select>
    <select id="queryArticleDetails" resultType="com.fzg.vo.ArticleDetailVO">
        select a.id as articleId,a.title,a.content,a.summary,a.content_html,
               a.published_at as publishAt,a.is_original as isOriginal,
               a.like_count as likeCount,a.collect_count as collectCount,
               a.comment_count as commentCount,a.view_count as viewCount,
               a.share_count as shareCount,a.word_count as wordCount,
               a.type,a.published_at as publishAt,
               u.nickname,u.avatar,u.signature,u.location,u.id as authorId from article a
            left join user u on a.user_id = u.id
            where a.id = #{articleId}
    </select>
    <select id="queryArtLikeById" resultType="com.fzg.vo.ArticleVO">
        select a.id,a.title,a.summary,a.cover_image as coverImage,
               a.type,a.published_at as publishedAt,a.view_count as viewCount,
               a.like_count as likeCount,a.comment_count as commentCount,
               a.share_count as shareCount,a.collect_count as collectCount,
               u.id as userId, u.nickname as nickName,
               u.avatar as avatar,
               c.name as categoryName,
               -- 计算热度得分（用于热榜排序）
               (a.view_count + a.like_count * 10 + a.comment_count * 5 + a.collect_count * 3) as hotScore
        from article a
                 left join user u on a.user_id = u.id
                 left join category c on a.category_id = c.id
                 left join like_record lr on a.id = lr.article_id
        where a.status = '1'
          and a.visibility = '0'
          and lr.user_id = #{userId}
          and lr.status = '1'
            limit #{pageSize} offset #{offset}

    </select>
    <select id="queryArtPendingById" resultType="com.fzg.vo.ArticleVO">
        select a.id,a.title,a.summary,a.cover_image as coverImage,
               a.type,a.published_at as updatedTime,a.view_count as viewCount,
               a.like_count as likeCount,a.comment_count as commentCount,
               a.share_count as shareCount,a.collect_count as collectCount,
               u.id as userId, u.nickname as nickName,
               u.avatar as avatar,
               c.name as categoryName,
               tt.tagsName as tagName,
               -- 计算热度得分（用于热榜排序）
               (a.view_count + a.like_count * 10 + a.comment_count * 5 + a.collect_count * 3) as hotScore
        from article a
                 left join user u on a.user_id = u.id
                 left join category c on a.category_id = c.id
                 left join (
            select
                atr.article_id,
                GROUP_CONCAT(at.name SEPARATOR ', ') AS tagsName
            from article_tag at
        join article_tag_relation atr on at.id = atr.tag_id
            group by atr.article_id
        ) tt on tt.article_id = a.id
        where
             a.user_id = #{userId}
            and a.visibility = '0'
            and a.status in('2','3')
            order by a.updated_at desc
            limit #{pageSize} offset #{offset}
    </select>
    <select id="queryArtFavById" resultType="com.fzg.vo.ArticleVO">
        select a.id,a.title,a.summary,a.cover_image as coverImage,
               a.type,a.published_at as publishedAt,a.view_count as viewCount,
               a.like_count as likeCount,a.comment_count as commentCount,
               a.share_count as shareCount,a.collect_count as collectCount,
               u.id as userId, u.nickname as nickName,
               u.avatar as avatar,
               c.name as categoryName,
               -- 计算热度得分（用于热榜排序）
               (a.view_count + a.like_count * 10 + a.comment_count * 5 + a.collect_count * 3) as hotScore
        from article a
                 left join user u on a.user_id = u.id
                 left join category c on a.category_id = c.id
                 left join favorite f on a.id = f.target_id
        where a.status = '1'
          and a.visibility = '0'
          and f.user_id = #{userId}
          and f.status = '1'
            limit #{pageSize} offset #{offset}
    </select>
    <select id="querySelfArticleByUserId" resultType="com.fzg.vo.ArticleVO">
        select a.id,a.title,a.summary,a.cover_image as coverImage,
               a.type,a.published_at as updatedTime,a.view_count as viewCount,
               a.like_count as likeCount,a.comment_count as commentCount,
               a.share_count as shareCount,a.collect_count as collectCount,
               u.id as userId, u.nickname as nickName,
               u.avatar as avatar,
               c.name as categoryName,
               tt.tagsName as tagName,
               -- 计算热度得分（用于热榜排序）
               (a.view_count + a.like_count * 10 + a.comment_count * 5 + a.collect_count * 3) as hotScore
        from article a
                 left join user u on a.user_id = u.id
                 left join category c on a.category_id = c.id
                 left join (
            select
                atr.article_id,
                GROUP_CONCAT(at.name SEPARATOR ', ') AS tagsName
            from article_tag at
        join article_tag_relation atr on at.id = atr.tag_id
            group by atr.article_id
        ) tt on tt.article_id = a.id
        where a.status = '1'
          and a.user_id = #{userId}
            limit #{pageSize} offset #{offset}

    </select>
    <select id="selectArticlesByIds" resultType="com.fzg.vo.ArticleVO">
        SELECT a.*,u.avatar,u.nickname
        FROM article a
        join user u on a.user_id = u.id
        WHERE a.id IN
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>

    <select id="queryHotList" resultType="com.fzg.vo.ArticleVO">
        select a.id,a.title,a.summary,a.cover_image as coverImage,
        a.type,a.published_at as updatedTime,a.view_count as viewCount,
        a.like_count as likeCount,a.comment_count as commentCount,
        a.share_count as shareCount,a.collect_count as collectCount,
        a.share_count as shareCount,
        a.is_recommend as isRecommend,
        a.is_top as isTop,
        u.id as userId, u.nickname as nickName,
        u.avatar as avatar,
        c.name as categoryName,
        tt.tagsName as tagName,
        -- 计算热度得分（用于热榜排序）
        (
            a.view_count
            + a.like_count * 10
            + a.comment_count * 5
            + a.collect_count * 3
        )
        /
        POW((TIMESTAMPDIFF(HOUR, a.published_at, NOW()) + 2),1.5) as hotScore
        from article a
        left join user u on a.user_id = u.id
        left join category c on a.category_id = c.id
        left join (
        select
        atr.article_id,
        GROUP_CONCAT(at.name SEPARATOR ', ') AS tagsName
        from article_tag at
        join article_tag_relation atr on at.id = atr.tag_id
        group by atr.article_id
        ) tt on tt.article_id = a.id


        where a.visibility = 0 -- 0:公开
        and a.status = 1 -- 1:已发布
        and a.published_at is not null -- 已发布的文章
        and a.created_at >= DATE_SUB(NOW(), INTERVAL 10 DAY)

        <!-- 热榜：按综合热度排序 -->
        order by hotScore desc,
        a.published_at desc
        limit #{pageSize} offset #{offset}
    </select>

    <select id="queryFollowList" resultType="com.fzg.vo.ArticleVO">
        select a.id,a.title,a.summary,a.cover_image as coverImage,
        a.type,a.published_at as updatedTime,a.view_count as viewCount,
        a.like_count as likeCount,a.comment_count as commentCount,
        a.share_count as shareCount,a.collect_count as collectCount,
        a.share_count as shareCount,
        a.is_recommend as isRecommend,
        a.is_top as isTop,
        u.id as userId, u.nickname as nickName,
        u.avatar as avatar,
        c.name as categoryName,
        tt.tagsName as tagName
        from article a
        left join user u on a.user_id = u.id
        left join category c on a.category_id = c.id
        left join (
        select
        atr.article_id,
        GROUP_CONCAT(at.name SEPARATOR ', ') AS tagsName
        from article_tag at
        join article_tag_relation atr on at.id = atr.tag_id
        group by atr.article_id
        ) tt on tt.article_id = a.id

        -- 关注类型接关注表
        left join follow f on f.following_id = a.user_id and f.follower_id = #{request.userId}


        where a.visibility = 0 -- 0:公开
        and a.status = 1 -- 1:已发布
        and a.published_at is not null -- 已发布的文章
        and a.created_at >= DATE_SUB(NOW(), INTERVAL 10 DAY)
        <!-- 关注：只显示关注的人的文章 -->
        and f.id is not null
        order by a.published_at desc
        limit #{pageSize} offset #{offset}
    </select>
    <select id="queryLatestList" resultType="com.fzg.vo.ArticleVO">
        select a.id,a.title,a.summary,a.cover_image as coverImage,
        a.type,a.published_at as updatedTime,a.view_count as viewCount,
        a.like_count as likeCount,a.comment_count as commentCount,
        a.share_count as shareCount,a.collect_count as collectCount,
        a.share_count as shareCount,
        a.is_recommend as isRecommend,
        a.is_top as isTop,
        u.id as userId, u.nickname as nickName,
        u.avatar as avatar,
        c.name as categoryName,
        tt.tagsName as tagName
        from article a
        left join user u on a.user_id = u.id
        left join category c on a.category_id = c.id
        left join (
        select
        atr.article_id,
        GROUP_CONCAT(at.name SEPARATOR ', ') AS tagsName
        from article_tag at
        join article_tag_relation atr on at.id = atr.tag_id
        group by atr.article_id
        ) tt on tt.article_id = a.id

        where a.visibility = 0 -- 0:公开
        and a.status = 1 -- 1:已发布
        and a.published_at is not null -- 已发布的文章
        and a.created_at >= DATE_SUB(NOW(), INTERVAL 10 DAY)
        <!-- 最新：按发布时间排序 -->
        order by a.published_at desc
        limit #{pageSize} offset #{offset}
    </select>


    <select id="queryRecommendFallback" resultType="com.fzg.vo.ArticleVO">
        select
            a.id,a.title,a.summary,a.cover_image as coverImage,
            a.type,a.published_at as updatedTime,
            a.view_count as viewCount,
            a.like_count as likeCount,
            a.comment_count as commentCount,
            a.collect_count as collectCount,
            a.share_count as shareCount,
            a.is_recommend as isRecommend,
            a.is_top as isTop,

            u.id as userId,u.nickname as nickName,u.avatar as avatar,
            c.name as categoryName,
            tt.tagsName as tagName,

            (
                a.view_count
                    + a.like_count * 10
                    + a.comment_count * 5
                    + a.collect_count * 3
                ) as score

        from article a
                 left join user u on a.user_id = u.id
                 left join category c on a.category_id = c.id
                 left join (
            select atr.article_id,
                   GROUP_CONCAT(at.name SEPARATOR ',') AS tagsName
            from article_tag at
    join article_tag_relation atr on at.id = atr.tag_id
            group by atr.article_id
        ) tt on tt.article_id = a.id

        where a.visibility = 0
          and a.status = 1
          and a.published_at is not null
          and a.is_recommend = 1

        order by a.is_top desc, score desc, a.published_at desc
            limit #{pageSize} offset #{offset}
    </select>


    <select id="selectArticleDimension" resultType="com.fzg.model.ArticleDimension">
        select
            a.category_id as categoryId,
            atr.tag_id as tagId,
            a.user_id as authorId
        from article a
                 left join article_tag_relation atr on a.id = atr.article_id
        where a.id = #{articleId}
            limit 1
    </select>


    <select id="queryPersonalizedList"
            resultType="com.fzg.vo.ArticleVO">

        select
        a.id,
        a.title,
        a.summary,
        a.cover_image as coverImage,
        a.type,
        a.published_at as updatedTime,
        a.view_count as viewCount,
        a.like_count as likeCount,
        a.comment_count as commentCount,
        a.collect_count as collectCount,
        a.share_count as shareCount,
        a.is_recommend as isRecommend,
        a.is_top as isTop,

        u.id as userId,
        u.nickname as nickName,
        u.avatar as avatar,
        c.name as categoryName,
        tt.tagsName as tagName,

        -- 个性化得分
        (
        <foreach collection="tagWeights"
                 item="tw"
                 separator="+">
            sum(
            case
            when atr.tag_id = #{tw.tagId}
            then #{tw.weight}
            else 0
            end
            )
        </foreach>
        ) * 5

        +

        (
        a.view_count
        + a.like_count * 10
        + a.comment_count * 5
        + a.collect_count * 3
        ) / 10

        as finalScore

        from article a

        left join article_tag_relation atr
        on a.id = atr.article_id

        left join user u on a.user_id = u.id
        left join category c on a.category_id = c.id

        left join (
        select
        atr.article_id,
        GROUP_CONCAT(at.name SEPARATOR ',') AS tagsName
        from article_tag at
        join article_tag_relation atr on at.id = atr.tag_id
        group by atr.article_id
        ) tt on tt.article_id = a.id

        where a.visibility = 0
        and a.status = 1
        and a.published_at is not null
        and a.created_at >= DATE_SUB(NOW(), INTERVAL 15 DAY)
        <if test="excludeIds != null and excludeIds.size() > 0">
            and a.id not in
            <foreach collection="excludeIds"
                     item="id"
                     open="("
                     separator=","
                     close=")">
                #{id}
            </foreach>
        </if>

        group by a.id

        order by finalScore desc,
        a.published_at desc

        limit #{pageSize} offset #{offset}
    </select>



    <select id="queryExploreList" resultType="com.fzg.vo.ArticleVO">
        select
        a.id,
        a.title,
        a.summary,
        a.cover_image as coverImage,
        a.type,
        a.published_at as updatedTime,
        a.view_count as viewCount,
        a.like_count as likeCount,
        a.comment_count as commentCount,
        a.collect_count as collectCount,
        a.share_count as shareCount,
        a.is_recommend as isRecommend,
        a.is_top as isTop,
        u.id as userId,
        u.nickname as nickName,
        u.avatar as avatar,
        c.name as categoryName
        from article a
        left join user u on a.user_id = u.id
        left join category c on a.category_id = c.id
        where a.visibility = 0
        and a.status = 1
        and a.published_at is not null

        <if test="excludeIds != null and excludeIds.size() > 0">
            and a.id not in
            <foreach collection="excludeIds"
                     item="id"
                     open="("
                     separator=","
                     close=")">
                #{id}
            </foreach>
        </if>

        -- 探索逻辑：优先新文章
        order by a.published_at desc
        limit #{limit}
    </select>



</mapper>