<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fzg.mapper.Categorymapper">
  <resultMap id="BaseResultMap" type="com.fzg.model.Category">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="level" jdbcType="VARCHAR" property="level" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="slug" jdbcType="VARCHAR" property="slug" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="cover_image" jdbcType="VARCHAR" property="coverImage" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="article_count" jdbcType="INTEGER" property="articleCount" />
    <result column="is_recommend" jdbcType="VARCHAR" property="isRecommend" />
    <result column="is_nav" jdbcType="VARCHAR" property="isNav" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="seo_title" jdbcType="VARCHAR" property="seoTitle" />
    <result column="seo_keywords" jdbcType="VARCHAR" property="seoKeywords" />
    <result column="seo_description" jdbcType="VARCHAR" property="seoDescription" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt" />
  </resultMap>
  <sql id="Base_Column_List">
    id, parent_id, `level`, `name`, slug, icon, description, cover_image, sort, article_count, 
    is_recommend, is_nav, `status`, seo_title, seo_keywords, seo_description, created_at, 
    updated_at
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from category
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from category
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.fzg.model.Category" useGeneratedKeys="true">
    insert into category (parent_id, `level`, `name`, 
      slug, icon, description, 
      cover_image, sort, article_count, 
      is_recommend, is_nav, `status`, 
      seo_title, seo_keywords, seo_description, 
      created_at, updated_at)
    values (#{parentId,jdbcType=BIGINT}, #{level,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{slug,jdbcType=VARCHAR}, #{icon,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{coverImage,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER}, #{articleCount,jdbcType=INTEGER}, 
      #{isRecommend,jdbcType=VARCHAR}, #{isNav,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{seoTitle,jdbcType=VARCHAR}, #{seoKeywords,jdbcType=VARCHAR}, #{seoDescription,jdbcType=VARCHAR}, 
      #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.fzg.model.Category" useGeneratedKeys="true">
    insert into category
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="level != null">
        `level`,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="slug != null">
        slug,
      </if>
      <if test="icon != null">
        icon,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="coverImage != null">
        cover_image,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="articleCount != null">
        article_count,
      </if>
      <if test="isRecommend != null">
        is_recommend,
      </if>
      <if test="isNav != null">
        is_nav,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="seoTitle != null">
        seo_title,
      </if>
      <if test="seoKeywords != null">
        seo_keywords,
      </if>
      <if test="seoDescription != null">
        seo_description,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
      <if test="updatedAt != null">
        updated_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="parentId != null">
        #{parentId,jdbcType=BIGINT},
      </if>
      <if test="level != null">
        #{level,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="slug != null">
        #{slug,jdbcType=VARCHAR},
      </if>
      <if test="icon != null">
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="coverImage != null">
        #{coverImage,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="articleCount != null">
        #{articleCount,jdbcType=INTEGER},
      </if>
      <if test="isRecommend != null">
        #{isRecommend,jdbcType=VARCHAR},
      </if>
      <if test="isNav != null">
        #{isNav,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="seoTitle != null">
        #{seoTitle,jdbcType=VARCHAR},
      </if>
      <if test="seoKeywords != null">
        #{seoKeywords,jdbcType=VARCHAR},
      </if>
      <if test="seoDescription != null">
        #{seoDescription,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fzg.model.Category">
    update category
    <set>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=BIGINT},
      </if>
      <if test="level != null">
        `level` = #{level,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="slug != null">
        slug = #{slug,jdbcType=VARCHAR},
      </if>
      <if test="icon != null">
        icon = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="coverImage != null">
        cover_image = #{coverImage,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="articleCount != null">
        article_count = #{articleCount,jdbcType=INTEGER},
      </if>
      <if test="isRecommend != null">
        is_recommend = #{isRecommend,jdbcType=VARCHAR},
      </if>
      <if test="isNav != null">
        is_nav = #{isNav,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=VARCHAR},
      </if>
      <if test="seoTitle != null">
        seo_title = #{seoTitle,jdbcType=VARCHAR},
      </if>
      <if test="seoKeywords != null">
        seo_keywords = #{seoKeywords,jdbcType=VARCHAR},
      </if>
      <if test="seoDescription != null">
        seo_description = #{seoDescription,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null">
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fzg.model.Category">
    update category
    set parent_id = #{parentId,jdbcType=BIGINT},
      `level` = #{level,jdbcType=VARCHAR},
      `name` = #{name,jdbcType=VARCHAR},
      slug = #{slug,jdbcType=VARCHAR},
      icon = #{icon,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      cover_image = #{coverImage,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      article_count = #{articleCount,jdbcType=INTEGER},
      is_recommend = #{isRecommend,jdbcType=VARCHAR},
      is_nav = #{isNav,jdbcType=VARCHAR},
      `status` = #{status,jdbcType=VARCHAR},
      seo_title = #{seoTitle,jdbcType=VARCHAR},
      seo_keywords = #{seoKeywords,jdbcType=VARCHAR},
      seo_description = #{seoDescription,jdbcType=VARCHAR},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>