<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fzg.mapper.Commentmapper">
    <update id="incrementReplyCount">
        UPDATE comment
        SET reply_count = reply_count + 1
        WHERE id = #{rootId}
    </update>

    <select id="selectRootCommentPage" resultType="com.fzg.model.Comment">
        SELECT *
        FROM comment
        WHERE article_id = #{articleId}
        AND parent_id = 0
        AND status = '1'
        <if test="lastId != null and lastId != 0">
            AND id &lt; #{lastId}
        </if>
        ORDER BY id DESC
        LIMIT #{size}
    </select>


    <!-- 二级评论：某一级评论下 -->
    <select id="selectChildCommentPage" resultType="com.fzg.model.Comment">
        SELECT *
        FROM comment
        WHERE root_id = #{rootId}
        AND parent_id != 0
        AND status = '1'
        <if test="lastId != null and lastId != 0">
            AND id &gt; #{lastId}
        </if>
        ORDER BY id ASC
        LIMIT #{size}
    </select>
</mapper>