<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fzg.mapper.DictionaryMapper">

    <select id="queryListByType" resultType="com.fzg.model.Dictionary">
        select * from dictionary where dict_type = #{type}
    </select>
</mapper>