<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fzg.mapper.Notificationmapper">
  <resultMap id="BaseResultMap" type="com.fzg.model.Notification">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="user_id" />
    <result column="from_user_id" jdbcType="BIGINT" property="from_user_id" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="target_type" jdbcType="VARCHAR" property="target_type" />
    <result column="target_id" jdbcType="BIGINT" property="target_id" />
    <result column="extra_data" jdbcType="OTHER" property="extra_data" />
    <result column="is_read" jdbcType="VARCHAR" property="is_read" />
    <result column="created_at" jdbcType="TIMESTAMP" property="created_at" />
    <result column="read_at" jdbcType="TIMESTAMP" property="read_at" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, from_user_id, `type`, title, content, target_type, target_id, extra_data, 
    is_read, created_at, read_at
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from notification
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from notification
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.fzg.model.Notification" useGeneratedKeys="true">
    insert into notification (user_id, from_user_id, `type`, 
      title, content, target_type, 
      target_id, extra_data, is_read, 
      created_at, read_at)
    values (#{user_id,jdbcType=BIGINT}, #{from_user_id,jdbcType=BIGINT}, #{type,jdbcType=VARCHAR}, 
      #{title,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, #{target_type,jdbcType=VARCHAR}, 
      #{target_id,jdbcType=BIGINT}, #{extra_data,jdbcType=OTHER}, #{is_read,jdbcType=VARCHAR}, 
      #{created_at,jdbcType=TIMESTAMP}, #{read_at,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.fzg.model.Notification" useGeneratedKeys="true">
    insert into notification
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="user_id != null">
        user_id,
      </if>
      <if test="from_user_id != null">
        from_user_id,
      </if>
      <if test="type != null">
        `type`,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="target_type != null">
        target_type,
      </if>
      <if test="target_id != null">
        target_id,
      </if>
      <if test="extra_data != null">
        extra_data,
      </if>
      <if test="is_read != null">
        is_read,
      </if>
      <if test="created_at != null">
        created_at,
      </if>
      <if test="read_at != null">
        read_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="user_id != null">
        #{user_id,jdbcType=BIGINT},
      </if>
      <if test="from_user_id != null">
        #{from_user_id,jdbcType=BIGINT},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="target_type != null">
        #{target_type,jdbcType=VARCHAR},
      </if>
      <if test="target_id != null">
        #{target_id,jdbcType=BIGINT},
      </if>
      <if test="extra_data != null">
        #{extra_data,jdbcType=OTHER},
      </if>
      <if test="is_read != null">
        #{is_read,jdbcType=VARCHAR},
      </if>
      <if test="created_at != null">
        #{created_at,jdbcType=TIMESTAMP},
      </if>
      <if test="read_at != null">
        #{read_at,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fzg.model.Notification">
    update notification
    <set>
      <if test="user_id != null">
        user_id = #{user_id,jdbcType=BIGINT},
      </if>
      <if test="from_user_id != null">
        from_user_id = #{from_user_id,jdbcType=BIGINT},
      </if>
      <if test="type != null">
        `type` = #{type,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="target_type != null">
        target_type = #{target_type,jdbcType=VARCHAR},
      </if>
      <if test="target_id != null">
        target_id = #{target_id,jdbcType=BIGINT},
      </if>
      <if test="extra_data != null">
        extra_data = #{extra_data,jdbcType=OTHER},
      </if>
      <if test="is_read != null">
        is_read = #{is_read,jdbcType=VARCHAR},
      </if>
      <if test="created_at != null">
        created_at = #{created_at,jdbcType=TIMESTAMP},
      </if>
      <if test="read_at != null">
        read_at = #{read_at,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fzg.model.Notification">
    update notification
    set user_id = #{user_id,jdbcType=BIGINT},
      from_user_id = #{from_user_id,jdbcType=BIGINT},
      `type` = #{type,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      target_type = #{target_type,jdbcType=VARCHAR},
      target_id = #{target_id,jdbcType=BIGINT},
      extra_data = #{extra_data,jdbcType=OTHER},
      is_read = #{is_read,jdbcType=VARCHAR},
      created_at = #{created_at,jdbcType=TIMESTAMP},
      read_at = #{read_at,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>