<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fzg.mapper.PaperMapper">


    <select id="selectPaperList" resultType="com.fzg.model.Paper">
        select * from paper p
        <where>
            1=1
            <if test="request.keyword != null and request.keyword != ''">
               and p.title like concat('%', #{request.keyword}, '%')
            </if>
            <if test="request.status != null">
                and p.status = #{request.status}
            </if>

        </where>
        order by p.id desc
        limit #{offset}, #{request.pageSize}
    </select>
    <select id="selectPaperCount" resultType="java.lang.Integer">
        select count(*) from paper p
        <where>
            1=1
            <if test="request.keyword != null and request.keyword != ''">
                and p.title like concat('%', #{request.keyword}, '%')
            </if>
            <if test="request.status != null">
                and p.status = #{request.status}
            </if>

        </where>
    </select>
</mapper>
