<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fzg.mapper.SearchHotmapper">

    <select id="queryHot" resultType="com.fzg.model.SearchHot">
        SELECT
        search_term,search_count,
        -- 计算有效热度分数
        search_count / POWER(1.5,
        CASE
        WHEN DATEDIFF(NOW(), updated_at) &lt;= 15 THEN 0
        ELSE DATEDIFF(NOW(), updated_at) - 15
        END
        ) as hot_score
        FROM search_hot
        WHERE updated_at >= DATE_SUB(NOW(), INTERVAL 30 DAY)
        AND search_count >= 10  -- 最小搜索次数限制
        ORDER BY hot_score DESC
        limit 10;
    </select>

</mapper>