<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fzg.mapper.SubtitlesMapper">
    <insert id="insertBatch">
        INSERT INTO subtitles (
        subtitle,
        description,
        states,
        )
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.subtitle},
            #{item.description},
            #{item.states},
            )
        </foreach>
    </insert>
</mapper>