<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fzg.mapper.UserMapper">


    <select id="selectByCondition" resultType="com.fzg.model.User">
        select * from user
        <where>
            <if test="condition != null and condition != ''">
                (username = #{condition}) or email = #{condition}
            </if>
        </where>

    </select>

    <select id="selectActiveUser" resultType="com.fzg.vo.UserVO">
        select u.id as userId,u.nickname,u.avatar
            (COUNT(a.id) * 10
                + CASE
                    WHEN u.last_login_time >= DATE_SUB(NOW(), INTERVAL #{days} DAY)
            THEN 1 ELSE 0
        END) as activeScore
        from user u
        left join article a
            on u.id = a.user_id
            and a.status='1'
            and a.updated_at >= DATE_SUB(NOW(), INTERVAL #{days} DAY)
        group by u.id
        order by activeScore desc
        limit #{size}
    </select>
</mapper>