<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fzg.mapper.UserProfileMapper">

    <insert id="upsert">
        insert into user_profile
        (
            user_id,
            tag_profile,
            category_profile,
            author_profile,
            behavior_count,
            profile_level,
            last_calculated_at,
            create_at,
            update_at
        )
        values
            (
                #{profile.userId},
                #{profile.tagProfile},
                #{profile.categoryProfile},
                #{profile.authorProfile},
                #{profile.behaviorCount},
                #{profile.profileLevel},
                #{profile.lastCalculatedAt},
                now(),
                now()
            )
            on duplicate key update
                                 tag_profile = values(tag_profile),
                                 category_profile = values(category_profile),
                                 author_profile = values(author_profile),
                                 behavior_count = values(behavior_count),
                                 profile_level = values(profile_level),
                                 last_calculated_at = values(last_calculated_at),
                                 update_at = now()
    </insert>
    <resultMap id="UserProfileMap" type="com.fzg.model.UserProfile">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="tag_profile" property="tagProfile" typeHandler="com.fzg.handler.JsonMapTypeHandler"/>
        <result column="category_profile" property="categoryProfile" typeHandler="com.fzg.handler.JsonMapTypeHandler"/>
        <result column="author_profile" property="authorProfile" typeHandler="com.fzg.handler.JsonMapTypeHandler"/>
        <result column="behavior_count" property="behaviorCount"/>
        <result column="profile_level" property="profileLevel"/>
        <result column="last_calculated_at" property="lastCalculatedAt"/>
        <result column="create_at" property="createTime"/>
        <result column="update_at" property="updateTime"/>
    </resultMap>

    <select id="selectByUserId" resultMap="UserProfileMap">
        select * from user_profile
        where user_id = #{userId}
    </select>


</mapper>